.device-top {
	width: auto;
	height: 100%;
	box-sizing: border-box;
	padding-bottom: 1em;
}

.device-top > div {
	border: 1px solid black;
	height: 100%;
	box-sizing: border-box;
	padding: 0.5em;
}

.device-top h2 {
	margin: 0;
}

.device-top h3 {
	margin: 0.5em 0;
}

.device-area-divider {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

.device-info, .device-footer {
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.device-info button:not(:last-child) {
	margin-right: 0.5em;
}

.device-indicator {
	text-align: center;
}

.device-status-element:not(.device-status-opened) .device-indicator-opened {
	display: none;
}

.device-status-element:not(.device-status-closed) .device-indicator-closed {
	display: none;
}

.device-status-element:not(.device-status-forgotten) .device-indicator-forgotten {
	display: none;
}

.device-status-element:not(.device-status-connected) .device-indicator-connected {
	display: none;
}

.device-status-element:not(.device-status-disconnected) .device-indicator-disconnected {
	display: none;
}

.device-status-element.device-status-forgotten .device-indicator-connected {
	display: none;
}

.device-status-element.device-status-forgotten .device-indicator-disconnected {
	display: none;
}

.device-tx-report-id, .device-last-rx-info, .device-footer {
	margin-top: 0.5em;
}

.device-tx-button-area {
	text-align: right;
}

.device-tx-button-area button {
	margin-top: 0.5em;
}

.device-tx-button-area button:not(:first-child) {
	margin-left: 0.5em;
}

.device-last-rx-info {
	display: grid;
	grid-template-columns: 1fr auto;
}
